<template>
  <div>
    <h1>{{msg}}</h1>
  </div>
</template>

<script>
export default {
  name: 'HelloFreak',

  data() {
    return {
      msg: 'Welcome to Your Vue.js App, Freakspot'
    };
  }
};
</script>

<style scoped>
h1 {
  color: black;
}
</style>
